<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.ichi2.anki.permission.READ_WRITE_DATABASE" />

    <queries>
        <package android:name="com.ichi2.anki" />
    </queries>

    <application
        android:name=".TangoToriApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TangoTori">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TangoTori.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Show up in the system share sheet for plain-text selections.
                 Selected text comes in via Intent.EXTRA_TEXT; MainActivity
                 forwards it to the SentenceViewModel which loads it as the
                 active sentence and jumps straight to chip view. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- Deep link from the "Open in Tango Tori" button on Anki cards:
                 tangotori://sentence?text=<url-encoded sentence>. MainActivity
                 reads the `text` query param and loads it as the sentence. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tangotori" android:host="sentence" />
            </intent-filter>
        </activity>
    </application>

</manifest>
